.feed {
  text-align: center;
  width: 588px;
}

.new-tweet-row {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.new-tweet-row__button {
    background-color: #4AB3F4;
    color: #fff;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.new-tweet-row textarea {
    border-radius: 8px;
    border: 1px solid #A4D9F9;
    height: 40px;
    resize: none;
    margin-right: 10px;
    padding: 3px 5px;
}

.new-tweet-row textarea:focus {
    outline: none;
}